* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d1d1d1;
}

::-webkit-scrollbar-track {
  background: none;
}

#logs::-webkit-scrollbar-track {
  background: none;
}

body {
  overflow: hidden;
}

header {
  width: 245px;
  top: 0;
  height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  padding: 8px;
  float: left;
  position: relative;
  z-index: 55;
  flex-wrap: wrap;
}

.updn {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 0px 1.5px #c0c0c042;
  border: solid 1px rgb(207, 207, 207);
  position: fixed;
  z-index: 10;
  line-height: 40px;
  cursor: pointer;
  font-size: 10px;
  transition: 0.1s;
  bottom: 7rem;
  display: none;
}

.updn:hover {
  background-color: rgb(247, 247, 247);
}

#log {
  color: #8e8ea0;
  width: 100%;
  height: 10px;
  position: absolute;
  top: 65px;
  left: 20px;
  font-size: 13px;
}


#logs {
  width: 100%;
  height: 88%;
  margin-top: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}


#logElmt {
  width: 100%;
  padding: 12px;
  border: none;
  color: black;
  border-radius: 7px;
  background: none;
  margin: 3px;
  text-align: start;
}


#logElmt span {
  float: left;
}


#apiReload {
  width: 100%;
  height: 45px;
  background: none;
  cursor: pointer;
  border: none;
  color: rgb(8, 8, 8);
  border-radius: 7px;
  transition-duration: 0.1s;
  position: relative;
  z-index: 1;
  display: flex;
}


#apiReload:hover {
  background-color: #54545531;
}

header>button>span svg {
  position: relative;
  right: 15px;
  font-size: 14px;
  top: 3px;
}

header>button>span {
  padding: 12px;
  position: absolute;
  left: 20px;
  font-size: 14px;
}


#chatpage {
  margin-top: 0;
  text-align: center;
  position: relative;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}


#exul {
  display: inline-block;
}


#exul p {
  font-size: 13px;
  margin-top: 3px;
  color: gray;
}


#extitle {
  font-size: 18px;
  color: #343541;
  margin: 12px;
  font-weight: bold;
}


#title {
  color: #343541;
  font-size: 25px;
  font-family: "고딕";
  margin-bottom: 10rem;
}


#ex {
  width: 700px;
  margin-top: 30vh;
}


.exlogo {
  width: 50px;
  margin: 0.5rem;
}


#extxt {
  border-radius: 10px;
  padding: 13px;
  font-size: 14px;
  transition: 0.1s;
  width: 325px;
  border: solid 1px #e3e3e3;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.mb {
  margin-bottom: 10px;
}


#extxt:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}


#exfx {
  display: flex;
  position: absolute;
  width: 720px;
  bottom: 1vh;
  align-items: center;
  justify-content: space-between;
}


#exicon img {
  width: 30px;
}


.searchbar {
  width: 720px;
  padding: 15px;
  height: 25px;
  border-radius: 20px;
  border: solid #9b9b9b8e 0.5px;
  border-width: 1px;
  font-size: 15px;
}


input:focus {
  outline: none;
  box-shadow: 0 1px 6px 1px #b3b2b231;
}


#search {
  position: fixed;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 80px;
  background-color: white;
}

.toSearchScroll {
  min-height: 90px;
}

.searchbar::placeholder {
  color: rgba(128, 128, 128, 0.616);
}


.Chat {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}


#myChat {
  background-color: white;
}


#botChat {
  background-color: white;
}

#chatsValue {
  width: 700px;
  text-align: start;
  float: left;
}

#scrollDiv {
  min-height: 100px;
}

#mbheader {
  background-color: white;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: solid 1px #dbdbdb;
}

#mbblck {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(35, 35, 56, 0.6);
  z-index: 100;
  display: none;
}

#xbtn {
  width: 25px;
  position: absolute;
  left: 45px;
  top: 20px;
  cursor: pointer;
  display: none;
  z-index: 100;
}

#hbgbtn {
  width: 25px;
  position: absolute;
  left: 10px;
  top: 12px;
  cursor: pointer;
  z-index: 101;
  filter: opacity(0.5) drop-shadow(0 0 0 #5c5c5c);
}

@media screen and (max-width: 1279px) {
  #chatsValue {
    width: 500px;
  }


  .searchbar,
  #ex {
    width: 630px;
  }


  #extxt {
    width: 280px;
  }


  #exfx {
    width: 630px;
  }
}


@media screen and (max-width: 1023px) {
  #chatsValue {
    width: 50vw;
  }

  .searchbar {
    width: 58vw;
  }


  #ex {
    width: 60vw;
  }


  #exfx {
    width: 61vw;
  }


  #extxt {
    width: 26.7vw;
  }


  #extxt strong,
  #extxt p {
    font-size: 12px;
  }
}


@media screen and (min-width: 768px) {
  header {
    transform: translateX(0) !important;
    /* 화면이 넓을 때 header 항상 표시 */
  }

  #mbheader,
  #mbblck {
    display: none !important;
    /* 모바일 메뉴 관련 요소 숨김 */
  }
}


@media screen and (max-width: 767px) {
  #chatpage {
    height: calc(100vh - 80px);
    margin-top: 45px;
  }

  header {
    width: 230px;
  }

  #chatsValue {
    width: 78vw;
  }

  #hbgbtn {
    transition: 0.1s;
  }

  #xbtn {
    transition: 0.1s;
    left: 0px;
  }

  #ex {
    width: 80vw;
    margin-top: 10vh;
  }

  #exfx {
    width: 80vw;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .exlogo {
    width: 40px;
  }

  #title {
    font-size: 20px;
  }

  #exul {
    width: 100%;
    text-align: center;
  }

  #extxt {
    width: 76vw;
    margin-bottom: 5px;
    padding: 8px;
  }

  header {
    transform: translateX(-100%);
    position: absolute;
    transition: 0.1s;
    z-index: 1000;
  }

  .searchbar {
    width: 80vw;
  }

  #mbheader {
    display: block;
  }
}

#Icon {
  width: 30px;
  float: left;
  margin-right: 20px;
  float: left;
  border-radius: 5px;
}

#container {
  overflow: hidden;
  height: 300px;
  position: relative;
}

#btnRoadview,
#btnMap {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 7px 12px;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  z-index: 1;
  cursor: pointer;
}

#btnRoadview:hover,
#btnMap:hover {
  background-color: #fcfcfc;
  border: 1px solid #c1c1c1;
}

#container.view_map #mapWrapper {
  z-index: 10;
}

#container.view_map #btnMap {
  display: none;
}

#container.view_roadview #mapWrapper {
  z-index: 0;
}

#container.view_roadview #btnRoadview {
  display: none;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
textarea {
  touch-action: manipulation;
  /* 터치 이벤트에 대한 브라우저 기본 동작 변경 */
}